body {
    font-family: 'IBM Plex Mono', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
}

header,
section,
footer {
    max-width: 950px;
    margin: 0 auto;
    text-align: left;
    padding: 0 20px; 
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

p {
    line-height: 1.8;
    margin: 0.5em 0;
}

a {
    color: #81c784;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

@media (max-width: 768px) {
    body {
        font-size: 14px; 
    }

    header,
    section,
    footer {
        max-width: 100%;
        padding: 0 10px; 
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

.project {
    margin-bottom: 25px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding-bottom: 2px;
    margin-bottom: 4px;
}

.project-header h4 {
    margin: 0; /* Removes default spacing so it aligns with the date */
}

.date {
    font-size: 0.85em;
    color: #666;
    white-space: nowrap; /* Prevents date from breaking lines */
}