body {
    font-family: 'IBM Plex Mono', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
}

header,
section,
footer {
    max-width: 950px;
    margin: 0 auto;
    text-align: left;
    padding: 0 20px; /* Add padding for better spacing on smaller screens */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

p {
    line-height: .8; /* Control paragraph line spacing */
    margin: 0.5em 0; /* Reduce margin between paragraphs */
}

a {
    color: #81c784;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    header,
    section,
    footer {
        max-width: 100%;
        padding: 0 10px; /* Adjust padding for smaller screens */
    }

    nav ul li {
        display: block;
        margin: 10px 0; /* Stack navigation items vertically on smaller screens */
    }
}