body {
    font-family: 'IBM Plex Mono', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fffcfc;
    background-color: #0f0f0f;
    text-align: center;
    font-size: 18px;
}

header, section, footer {
    max-width: 800px; /* Limits width to half the viewport */
    margin: 0 auto; /* Centers the content */
    text-align: left; /* Aligns text properly */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

a {
    color: #81c784;
    text-decoration: none;
}

a:hover {
    color: #66bb6a;
}